*{
    margin: 0px;
    padding: 0px;
}
html, body{
    text-align: center;
    justify-content: center;
    /* margin: 0px;
    padding: 0px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-decoration: none;
    color: rgb(2, 2, 27);
    
}
.fullContent{
    margin: 5px;
    padding: 5px;
}
.randomColorBox{
    margin: 5px;
    padding: 5px;
}
.randomColorBox button{
    font-size: medium;
    /* font-style: oblique; */
    font-weight: 555;
    background-color: #e3efeb;
    /* border: #cc1c1c; */
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 18px;
    transition: all linear 0.2s;
}
.userColor button{
    font-size: medium;
    /* font-style: oblique; */
    font-weight: 555;
    background-color: #e3efeb;
    /* border: #cc1c1c; */
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 18px;
}
.container{
    background-color: aquamarine;
    height: 100vh;
    padding: 70px;
}